body {
  font-family: "Raleway", sans-serif;
  margin: 0;
  color: #1c1d21;
}
.loginPage {
  display: grid;
}
.navBar {
  display: grid;
  text-align: center;
  justify-content: center;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.7), 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
.links {
  display: flex;
  margin-bottom: 5px;
}
.links a {
  margin: 0px 100px;
  text-decoration: none;
  color: #1c1d21;
}
.loginForm {
  display: flex;
  justify-content: center;
}
.signupForm {
  display: flex;
  justify-content: center;
}
.inputFields {
  display: grid;
  width: 300px;
  margin: 50px 0px;
}
.inputFields input {
  border: none;
  border-bottom: 1px solid #1c1d21;
  outline: none;
}
.inputFields label {
  font-size: 18px;
  color: gray;
  margin: 5px 0px;
}
.inputFields a {
  text-decoration: none;
  color: #f77f00;
  margin: 5px 0px;
}
.inputFields button {
  background-color: #f77f00;
  border: none;
  padding: 10px;
  margin-top: 25px;
  border-radius: 30px;
  color: white;
}
.inputFields button a {
  color: white;
}
.inputFields button:hover {
  color: #f77f00;
  background-color: #ffffff;
  border: 1px solid #f77f00;
  transition: all 0.5s;
}

@media only screen and (max-width: 600px) {
  .links a {
    margin: 5px 25px;
  }

  .inputFields {
    width: 80%;
    margin: 20px auto;
  }

  .inputFields button {
    margin-top: 15px;
  }
}
